@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}

:root {
    --orange-color: #ff8e2b;
    --dark-mainblue: #0d1429;
    --darkblue-color: #092c6e;
    --white-color: #fff;
    --text-gray: #9b9b9b;
    --black-color: #000;
    --font-family: "Outfit", sans-serif;
    --light-bg: #eef2fa;
}

/* :: Body */
body {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 25px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

::-moz-selection {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    text-shadow: none;
}

::selection {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    text-shadow: none;
}

a,
a:hover,
a:focus,
button:focus {
    text-decoration: none;
    color: var(--white-color);
}

.container,
.container-fluid {
    position: relative;
}

/* :: Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    font-weight: 400;
}

p {
    color: var(--text-gray);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-family);
    line-height: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.py-100 {
    padding: 100px 0;
}

.py-100-70 {
    padding: 100px 0 70px 0;
}

.padding-0 {
    padding: 0;
}

.py-0-0-70-0 {
    padding: 0 0 70px 0;
}

.sec-title {
    margin-bottom: 50px;
    position: relative;
}

.sec-title h5 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: var(--font-family);
    color: var(--darkblue-color);
    text-transform: capitalize;
    position: relative;
}

.sectitl_main .sec-title h2:before {
    content: "";
    background-color: var(--darkblue-color);
    height: 2px;
    width: 88px;
    position: absolute;
    left: -109px;
    top: 27px;
}

.sectitl_main .sec-title h2:after {
    content: "";
    background-color: var(--darkblue-color);
    height: 2px;
    width: 88px;
    position: absolute;
    right: -109px;
    top: 27px;
}

.sec-title h2 {
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 22px;
    font-family: var(--font-family);
    color: var(--darkblue-color);
    text-transform: capitalize;
    position: relative;
}

.mainheader {
    background-color: var(--dark-mainblue);
    border-bottom: 1px solid #f1f0f047;
}

.mainheader .navbar-expand-lg .navbar-nav .nav-link {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
    position: relative;
    display: block;
    text-transform: capitalize;
}

.btn-gettouch {
    background: var(--white-color);
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 20px;
    border: 1px solid var(--white-color);
}

.btn-gettouch:hover {
    background-color: transparent;
    color: var(--white-color);
}

.btn-freeconslty {
    background: transparent;
    border-radius: 50px;
    padding: 10px 20px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.btn-freeconslty:hover {
    background: var(--white-color);
    color: var(--black-color);
}

/* *****************Header Section CSS End*************************** */

/* *****************Hero Section CSS start*************************** */
.hero_mainsec {
    background: var(--darkblue-color);
    padding: 120px 0;
}

.hero_mainsec .hero_leftsec h1 {
    color: var(--white-color);
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
    margin-bottom: 45px;
}

.hero_mainsec .hero_leftsec p {
    color: var(--white-color);
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
}

.hero_mainsec .hero_rightsec .gettouchform {
    background-color: var(--dark-mainblue);
    padding: 25px;
    border-radius: 5px;
}

.hero_mainsec .hero_rightsec .gettouchform h5 {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    margin-bottom: 5px;
}

.hero_mainsec .hero_rightsec .gettouchform p {
    color: var(--white-color);
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.hero_mainsec .hero_rightsec .gettouchform label {
    color: var(--white-color);
}

.hero_mainsec .hero_rightsec .gettouchform .form-control {
    margin-bottom: 0;
    border-radius: 5px;
    border: 1px solid #152b54;
    background: transparent;
    color: var(--white-color);
    padding: 10px 15px;
    box-shadow: none;
    outline: none;
    width: 100%;
    min-height: 45px;
}

.sendmassage {
    background-color: var(--white-color);
    width: 100%;
    padding: 10px 15px;
    min-height: 45px;
    border-radius: 5px;
}

/* ***********************  Hero Section css end ****************** */
/* ***********************  about Section css start ****************** */

.about_mainsec .about_rightsec ul li i {
    font-size: 11px;
    color: var(--white-color);
    background-color: var(--darkblue-color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 6%;
}

.about_mainsec .about_rightsec ul li {
    padding-left: 30px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    color: var(--darkblue-color);
    margin-bottom: 15px;
}

.about_btn {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    padding: 10px 15px;
    min-height: 45px;
    border-radius: 5px;
    border: 1px solid var(--darkblue-color);
}

.about_btn:hover {
    background-color: transparent;
    color: var(--darkblue-color);
}

.about_mainsec .about_leftsec {
    padding: 40px 0;
    margin-right: 40px;
    position: relative;
}

.about_mainsec .about_leftsec::after {
    content: "";
    background-color: var(--darkblue-color);
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: -1;
}

/* ****************************Service Section CSS start*************************** */
.service_main {
    background-color: var(--light-bg);
}

.service_main .service_maincard:hover .service_content {
    opacity: 1;
}

.service_main .service_maincard .service_content {
    background-color: var(--darkblue-color);
    border-radius: 10px;
    padding: 15px 20px;
    bottom: 6px;
    transition: 0.4s;
    width: 97%;
    position: absolute;
    right: 0;
    left: 5px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.5s;
}

.service_main .service_maincard .service_imgs img {
    height: 385px;
    border-radius: 10px;
    object-fit: cover;
}

.service_main .service_maincard .service_content h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    color: var(--white-color);
    margin-bottom: 5px;
}

.service_main .owl-theme .owl-dots .owl-dot span {
    width: 30px !important;
    background: #3967bf;
}

.service_main .owl-theme .owl-dots .owl-dot.active span {
    background: var(--darkblue-color);
}

/* *******************************Service Section CSS End***************************************** */

/* *******************************our story  Section CSS start***************************************** */
.our_story .our_story_scroll {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.our_story .our_story_scroll::-webkit-scrollbar {
    width: 7px;
}

.our_story .our_story_scroll::-webkit-scrollbar-track {
    width: 7px;
    background-color: var(--text-gray);
}

.our_story .our_story_scroll::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: var(--darkblue-color);
    border-radius: 5px;
}

.our_story .nav-tabs {
    background-color: var(--light-bg);
    border: none;
}

.our_story .nav-tabs .nav-link {
    border-radius: 0px;
    color: var(--darkblue-color);
    font-size: 16px;
}

.our_story .nav-tabs .nav-link:hover,
.our_story .nav-tabs .nav-link.active {
    background-color: var(--darkblue-color);
    color: var(--white-color);
}

.our_story .maincard_ourstory {
    position: relative;
    border-radius: 5px;
    transition: all 0.5s;
    margin-bottom: 10px;
    cursor: pointer;
}

.our_story .maincard_ourstory::before {
    position: absolute;
    content: "";
    z-index: 1;
    display: block;
    width: 100%;
    transition: all 0.5s;
    opacity: 0.2;
    height: 100%;
    background-color: var(--darkblue-color);
    border-radius: 5px;
}

.our_story .maincard_ourstory:hover:before {
    opacity: 1;
    transition: all 0.5s;
}

.our_story .maincard_ourstory .story_hover .story_content {
    position: absolute;
    bottom: 13px;
    left: 17px;
    z-index: 1;
    opacity: 0;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.our_story .maincard_ourstory:hover .story_hover .story_content {
    opacity: 1;
}

.our_story .maincard_ourstory .story_hover .story_content h1 {
    font-size: 24px;
    font-weight: 500;
}

.our_story .maincard_ourstory .story_hover .story_content p {
    margin-bottom: 5px;
}

.our_story .maincard_ourstory .story_hover .story_content p a {
    color: var(--text-gray);
}

.our_story .maincard_ourstory .story_img img {
    border-radius: 5px;
}

/* *******************************Our story  Section CSS End***************************************** */

/* *******************************Our Price  Section CSS start***************************************** */

.our_price {
    background-color: var(--light-bg);
}

.our_price .maincard_price .nav {
    background-color: var(--white-color);
}

.our_price .maincard_price .nav-pills {
    background-color: var(--light-bg);
}

.our_price .maincard_price .nav-link {
    border-radius: 0px;
    color: var(--darkblue-color);
    font-size: 16px;
    min-width: 180px;
}

.our_price .maincard_price .nav-link:hover,
.our_price .maincard_price .nav-link.active {
    background-color: var(--darkblue-color);
    color: var(--white-color);
}

.our_price .maincard_price .price_cardmain .priceamount h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.our_price .maincard_price .price_cardmain {
    padding: 0 20px 20px 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    background-color: var(--white-color);
    box-shadow: 0px 7px 15px -3px rgba(0, 0, 0, 0.1);
}

.our_price .maincard_price .price_cardmain .packegname {
    text-align: center;
}

.our_price .maincard_price .price_cardmain .packegname h1 {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: var(--font-family);
    background-color: var(--darkblue-color);
    text-transform: capitalize;
    position: relative;
    color: var(--white-color);
    padding: 5px 10px;
    font-weight: 300;
}

.price_scroll_vertical {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.our_price .maincard_price .price_scroll_vertical::-webkit-scrollbar {
    width: 10px;
    background-color: var(--text-gray);
}

.our_price .maincard_price .price_scroll_vertical:-webkit-scrollbar-track {
    width: 10px;
    background-color: var(--text-gray);
}

.our_price .maincard_price .price_scroll_vertical::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--darkblue-color);
    border-radius: 2px;
}

.our_price .maincard_price .price_cardmain .price_content .price-scroll_block {
    height: 300px;
    overflow-y: auto;
}

.our_price .maincard_price .price_cardmain .price_content .price-scroll_block::-webkit-scrollbar {
    width: 7px;
}

.our_price .maincard_price .price_cardmain .price_content .price-scroll_block::-webkit-scrollbar-track {
    width: 7px;
    background-color: var(--text-gray);
}

.our_price .maincard_price .price_cardmain .price_content .price-scroll_block::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: var(--darkblue-color);
    border-radius: 5px;
}

.our_price .maincard_price .price_cardmain .price_content .price-scroll_block li {
    font-size: 16px;
    position: relative;
    margin-bottom: 2px;
    text-align: -webkit-auto;
    padding-left: 28px;
}

.our_price .maincard_price .price_cardmain .price_content .price-scroll_block li::before {
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #0092ff;
}

/* *******************************Our Price  Section CSS end***************************************** */

/* *******************************estominal  Section CSS start***************************************** */

.our-testomonial .testominal_card .client_img {
    background: var(--darkblue-color);
    height: 148px;
    width: 148px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-testomonial .testominal_card .client_img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.our-testomonial .testominal_card .testomonia_content h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 5px;
    font-family: var(--font-family);
    color: var(--darkblue-color);
    position: relative;
}

.our-testomonial .testominal_card .testomonia_content h1::before {
    content: "\f10d";
    font-family: "FontAwesome";
    position: absolute;
    top: 41%;
    left: -40px;
    font-size: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--darkblue-color);
}

.our-testomonial .testominal_card .testomonia_content h5 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: var(--font-family);
    color: var(--darkblue-color);
    text-transform: capitalize;
    position: relative;
}

/* *******************************testominal  Section CSS end***************************************** */

/* *******************************blog  Section CSS start***************************************** */

.blog_maincard .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.blog_maincard .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog_maincard .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 250px;
}

.blog_maincard .tag {
    background-color: #ccc;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    padding: 2px 10px;
    text-transform: uppercase;
}

.blog_maincard .tag-teal {
    background-color: #08a5cc;
}

.blog_maincard .tag-purple {
    background-color: #3d1d94;
}

.blog_maincard .tag-pink {
    background-color: #c62bcd;
}

.blog_maincard .card-body h4 {
    margin: 10px 0;    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: var(--font-family);
    color: var(--darkblue-color);
    text-transform: capitalize;
    position: relative;
}

.blog_maincard .card-body p {
    font-size: 16px;
    margin: 0 0 10px 0;
}

/* *******************************blog  Section CSS end***************************************** */